@import url(./global-style.css);

/*Codigo especifico de la pagina*/

h1{
    margin-top: 2rem;
}

.contratacion{
    text-align: left;
}

.curriculum{
    text-align: center;
}

.curriculum label{
    display: inline;
}

.curriculum input{
    width: auto;
}

.grid-contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

img{
    max-width: 35rem;
    margin: auto auto;
}