@import url(./global-style.css);

/*Contenido Principal*/

.show h2 {
    text-align: center;
    margin-bottom: 0;
}

.grid-show {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 45rem;
    width: 100rem;
    column-gap: 8rem;
    margin-left: auto;
    margin-right: auto;
}

.movie-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--bg-panel);
    margin-bottom: 6rem;
}

.movie-grid img {
    height: 39rem;
    width: 25rem;
    object-fit: cover;
}

.text-movie {
    text-align: center;
    margin-right: 4rem;
}

.movie-grid p {
    margin: 0;
}

.movie-grid a {
    display: block;
    text-transform: uppercase;
    height: 9rem;
    width: 25rem;
    font-size: 4rem;
    text-align: center;
    padding: 1.5rem;
}

img{
    height: 100%;
}